* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

html, body {
  height: 100%; /* Ensures body takes up full height */
}

body {
  background-image: url('../assets/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;    
}

button {
  background-color: purple;
  padding: 5px;
  border-radius: 5px;
  font-weight: 700;
  border:1px solid blueviolet
}
button:hover{
  background-color: blueviolet;
  border:1px solid purple;
}

.logo {
  height: 30px;
  margin-left: 9px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  padding-top: 17px;
  padding-bottom: 50px;
  background-color: black;
  height: 60px;
}

.menu {
  margin-top: 10px;
  display: flex;
  margin-left: 70px;
}

.menu ul {
  display: flex;
  list-style: none; /* Optional: Remove bullets */
}

.menu li {
  padding: 0 15px; 
  text-decoration: none;
}

.main_section {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px); /* Adjust height to fill the viewport minus header */
}

.Main_text {
  
  font-size: 30px;
  text-align: center; /* Center text inside */
}

.Main_text h1 {
  margin: 10px 0; /* Adjust spacing between lines */
}

.main_btn {
  margin-top: 40px;
}
